#sign-up {
	background-image: url("blink.gif");
}

.sign-up h2 {
	color: white;
	text-align: center;
	font-family: "Courier New";
	font-size: 28px;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid white; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .16em; /* Adjust as needed */


  animation: 
    typing 3.5s steps(30, end),
    blink-caret 3.5s steps(30, end);

}

.sign-up-form {
	text-align: center;
	font-family: "Courier New";
}

.sign-up {
	text-align: center;
	color:white;
	text-align: center;
	font-family: "Courier New";
}

.button {
	padding: 38px 38px 38px 38px;
	font-size: 20px;
	text-align: center;
	font-family: "Courier New";

}